@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
